.trash { color:rgb(209, 91, 71); }

.admin-page{

  .progress{
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 5px;
  }
  .panel{
    border-color: #dee5e7;
  }
  // custom styles for release list
  accordion.list-release{
    .panel-group{

      //remove border, color of accordion heading and body
      .panel-heading{
        padding-top: 5px;
        padding-bottom: 5px;

        .panel-title{
          line-height: 30px;

          .progress{
            border: 2px solid #C8C7C7;
            background-color: #cbcbcb;
            width: 43px;
            margin: 2px auto;
            height: 25px;

            
            &.bg-danger{
              .progress-bar{
                background-color: #f05050;
                color: white;
              }
            }

            &.bg-success{
              .progress-bar{
                background-color: #27c24c;
                color: #c2f3ce;
              }
            }

          }
        }
      }
      .panel-heading, .panel-collapse{
        background-color: transparent;
        .panel-body{
          border-top: 0px;
        }
      }

      // background color status
      .panel{
        border-radius: 0;
      }
      // end background color status

    }
  }
  // end custom styles for release list

  /*
    status styles
  */
  .rejected{
    border: 3px solid #ba0004;
    background: -moz-linear-gradient(-45deg, rgba(251,225,225,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(251,225,225,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(251,225,225,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(251,225,225,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(251,225,225,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(251,225,225,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe1e1', endColorstr='#00ffffff',GradientType=1 );

    .panel-heading, .test-info{
      color: #ba0004;
    }
    
  }

  .accepted, .complete{
    border: 3px solid #5B9137;
    background: -moz-linear-gradient(-45deg, rgba(246,249,247,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(246,249,247,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(246,249,247,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(246,249,247,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(246,249,247,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(246,249,247,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9f7', endColorstr='#00ffffff',GradientType=1 );

    .panel-heading{
      color: #5B9137;
    }
    .test-info{
      color: #fad733;
    }
  }

  .pending{
    border: 3px solid #BCBCBB;
    background: -moz-linear-gradient(-45deg, rgba(237,242,251,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(237,242,251,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(237,242,251,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(237,242,251,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(237,242,251,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(237,242,251,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2fb', endColorstr='#00ffffff',GradientType=1 );

    .panel-heading{
      color: #BCBCBB;
    }
  }

  .running{
    border: 3px solid #4682B5;
    background: -moz-linear-gradient(-45deg, rgba(235,240,249,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(235,240,249,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(235,240,249,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(235,240,249,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(235,240,249,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(235,240,249,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf0f9', endColorstr='#00ffffff',GradientType=1 );

    .panel-heading{
      color: #4682B5;
    }
  }
}

$admin-information-block-width : 200px;
$admin-information-block-height : 180px;

.metrics-block-directive{
  width: $admin-information-block-width;
  height: $admin-information-block-height;
  color: black;
  background-color: white;
  span{
    display: block;
    margin: 0 auto;
    font-size: 18px;
    color: white;
    &.success-arrow{
      background: url(/assets/images/success-arrow.png) no-repeat;
      width: 48px;
      height: 54px;
      line-height: 63px;
    }

    &.failed-arrow{
      background: url(/assets/images/failed-arrow.png) no-repeat;
      width: 48px;
      height: 54px;
      line-height: 63px;
    }

    &.forward-arrow{
      background: url(/assets/images/forward-arrow.png) no-repeat;
      width: 54px;
      height: 48px;
      line-height: 50px;
    }
  }
}

.build-block-directive{
  width: $admin-information-block-width;
  height: $admin-information-block-height;
  .hbox.wrapper-icon{
    margin-top: 23px;
    margin-bottom: 23px;
  }
  span{
    display: block;
    margin: 0 auto;
    &.build-icon{
      background: url(/assets/images/big-build.png) no-repeat;
      width: 64px;
      height: 56px;
      top: 0px;
      right: 0px;
    }
  }
}

.test-block-directive{
  width: $admin-information-block-width;
  height: $admin-information-block-height;

  canvas{

  }
  .progress{
    height: 35px;
    position: relative;
    background-color: #f9e1d1;

    .progress-bar{
      background-color: #c6dfb5;
      box-shadow: none;
      .progressbar-percentage{
        width: 100%;
        left: 0px;
        position: absolute;
        font-size: 20px;
      }

      .progressbar-description{
        width: 100%;
        left: 0px;
        position: absolute;
        font-size: 13px;
        top: 18px;
        color: black;
      }
    }
  }
}

.wall-icon{
  width: 29px;
  height: 23px;
  top: 7px;
  right: 5px;
  display: inline-block;
  position: relative;
  &.disabled-wall-icon{
    background: url(/assets/images/grey-wall.png) no-repeat;
  }
  &.running-wall-icon{
    background: url(/assets/images/blue-wall.png) no-repeat;
  }
  &.accepted-wall-icon{
    background: url(/assets/images/green-wall.png) no-repeat;
  }
  &.rejected-wall-icon{
    background: url(/assets/images/red-wall.png) no-repeat;
  }
}
.build-icon{
  width: 29px;
  height: 23px;
  top: 7px;
  right: 5px;
  display: inline-block;
  position: relative;
  &.disabled-build-icon{
    background: url(/assets/images/grey-build.png) no-repeat;
  }
  &.complete-build-icon{
    background: url(/assets/images/green-build.png) no-repeat;
  }
}