div(ng-include='"components/navbar/navbar.html"')

.bg-light.lter.b-b.wrapper-md
  h1.m-n.font-thin.h3
    | Release Management
  .btn.btn-sm.btn-info.no-shadow.setting-btn(ng-click="addNewChangeList()")
    i.fa.fa-plus.icon.m-r-xs
    |Fetch changelist

.app-content.wrapper-md.admin-page
  .panel
    //- .panel-body.b-b.b-light
      //- | Search: 
      //- input#filter.form-control.input-sm.w-sm.inline.m-r(type='text')

      //- Release List
    div.wrapper-release-list
        //- Accordion group titles
        .accordion-title.row.m-n.padder-v
          h4.accordion-title-item.col-md-2 Changelist / Build
          h4.accordion-title-item.col-md-1.text-center Owner
          h4.accordion-title-item.col-md-2.text-center Time Started
          h4.accordion-title-item.col-md-1.text-center State
          h4.accordion-title-item.col-md-1.text-center Metrics
          h4.accordion-title-item.col-md-1.text-center Build
          h4.accordion-title-item.col-md-1.text-center Unit Test
          h4.accordion-title-item.col-md-2.text-center Functional Test

        //- Accordion group content list
        accordion.list-release(close-others='true')
          accordion-group.m-l-xs.m-r-xs(class="{{release.classDOM}}", ng-repeat="release in releases", is-open='release.isOpen', is-disabled='RELEASE_STATUS_CONSTANT.PENDING == release.status')
            accordion-heading(ng-click="toggleAccordion(release)")
              .row
                .col-md-2
                  span.wall-icon.disabled-wall-icon(ng-show="!release.isBuild && RELEASE_STATUS_CONSTANT.PENDING == release.status")
                  span.wall-icon.running-wall-icon(ng-show="!release.isBuild && RELEASE_STATUS_CONSTANT.RUNNING == release.status")
                  span.wall-icon.accepted-wall-icon(ng-show="!release.isBuild && RELEASE_STATUS_CONSTANT.ACCEPTED == release.status")
                  span.wall-icon.rejected-wall-icon(ng-show="!release.isBuild && RELEASE_STATUS_CONSTANT.REJECTED == release.status")
                  span.build-icon.disabled-build-icon(ng-show="release.isBuild && RELEASE_STATUS_CONSTANT.PENDING == release.status")
                  span.build-icon.complete-build-icon(ng-show="release.isBuild && RELEASE_STATUS_CONSTANT.COMPLETE == release.status")
                  {{release.name}}
                .col-md-1.text-center {{release.owner.name}}
                .col-md-2.text-center.text-lg {{release.startedTime}}
                .col-md-1.text-center.text-lg {{release.statusText}}
                .col-md-1(ng-show="!release.isOpen")
                  progressbar.progress-md(value="release.metrics.progress", class="{{release.metrics.classDOM}}")
                .col-md-1(ng-show="!release.isOpen")
                  progressbar.progress-md(value="release.build.progress", class="{{release.build.classDOM}}")
                .col-md-1(ng-show="!release.isOpen")
                  progressbar.progress-md(value="release.unitTest.progress", class="{{release.unitTest.classDOM}}")
                .col-md-2(ng-show="!release.isOpen")
                  progressbar.progress-md(value="release.functionalTest.progress", class="{{release.functionalTest.classDOM}}")
                .col-md-1(ng-show="!release.isOpen")
                  .btn.btn-sm.btn-info.no-shadow(ng-click="runARelease(release)", ng-show="release.status == RELEASE_STATUS_CONSTANT.PENDING")
                    i.fa.fa-pencil.icon.m-r-xs
                    | Run
                  .btn.btn-sm.btn-info.no-shadow(ng-click="removeChangelist(release, $event)", ng-show="release.status == RELEASE_STATUS_CONSTANT.REJECTED")
                    i.fa.fa-remove.icon.m-r-xs
                    | Remove

            //- Toggle content
            accordion-body
              .metrics-block-directive.d-i-b.m-l-md(data-metrics="release.metrics")
              .build-block-directive.d-i-b.m-l-md(build-data="release.build")
              .test-block-directive.d-i-b.m-l-md(test-data="release.unitTest")
              .test-block-directive.d-i-b.m-l-md(test-data="release.functionalTest")
              .release-result-directive.d-i-b.m-l-md(data-release="release")

              //- result information block
              div.wd-200.he-180.no-bg.d-i-b(ng-show="release.status !== RELEASE_STATUS_CONSTANT.RUNNING && release.status !== RELEASE_STATUS_CONSTANT.PENDING")
                .panel.no-bg.no-b
                  .text-lg.text-center
                    | Result:
                  .hbox.text-center
                    .col
                      .font-thin.text-lg.test-info(ng-show="release.status !== RELEASE_STATUS_CONSTANT.REJECTED")
                        | Change Accepted
                      .font-thin.text-lg.test-info(ng-show="release.status == RELEASE_STATUS_CONSTANT.REJECTED")
                        | Change Rejected
                      .text-2x.m-b-md.test-info(ng-show="release.status !== RELEASE_STATUS_CONSTANT.REJECTED")
                        | Auto-Merged
                      .text-2x.m-b-md.test-info(ng-show="release.status == RELEASE_STATUS_CONSTANT.REJECTED")
                        | {{release.errorsText}}
                      span.btn.btn-info.text-lg.no-b-r(ng-click="mergeBuild(release)", ng-show="release.status == RELEASE_STATUS_CONSTANT.ACCEPTED")
                        i.icon.fa.fa-search
                        | Merge Build
                      div(ng-show="release.status == RELEASE_STATUS_CONSTANT.COMPLETE")
                        .btn-group(dropdown='', is-open='status.isopen')
                          button.no-b-r.btn.btn-primary(type='button', dropdown-toggle='')
                            | Deploy to: 
                            span.caret
                          ul.dropdown-menu(role='menu', aria-labelledby='single-button')
                            li(role='menuitem', ng-click="deployToTest(release)")
                              a Testing
                            li(role='menuitem', ng-click="deployToProduction(release)")
                              a Production
                      span.btn.btn-info.text-lg.no-b-r(ng-show="release.status == RELEASE_STATUS_CONSTANT.REJECTED")
                        | Find Issues

            //- End Toggle content

        //- footer with pagination
        pagination.m-l-md.m-r-md(total-items="releaseListInformation.totalItems", ng-model="releaseListInformation.page", class="pagination-sm", ng-change="queryReleaseList()")
.app-footer.wrapper.b-t.bg-light
  span.pull-right
    | anhntbk08@gmail.com - © 2015 Copyright.