div
  .panel(ng-class="{'complete': buildData.isPassTest, 'rejected': !buildData.isPassTest}")
    .panel-heading.text-lg
      | Build
    .hbox.text-center.wrapper-icon
      .col
        span(class="build-icon")
        .text-info Debug
      .col
        span(class="build-icon")
        .text-info Release
    .hbox.text-center
      .col
        .font-thin {{buildData.testedTime}}
      