div
  .panel(ng-class="{'complete': metrics.isTestSuccess && metrics.isMaintainable, 'rejected': !metrics.isTestSuccess || !metrics.isMaintainable}")
    .panel-heading.text-lg
      | Metrics
    .hbox.text-center
      .col
        span(ng-class="{'success-arrow': metrics.isTestSuccess, 'failed-arrow': !metrics.isTestSuccess}")
          {{metrics.testPercentage}}
        .font-thin Test
      .col
        span(ng-class="{'success-arrow': metrics.isMaintainable, 'failed-arrow': !metrics.isMaintainable}")
          {{metrics.maintainabilityPercentage}}
        .font-thin Maintainability
    .hbox.text-center
      .col
        span.forward-arrow
          {{metrics.security}}
        .font-thin Security
      .col
        span.forward-arrow
          {{metrics.workmanship}}
        .font-thin Workmanship