div
  .panel(ng-class="{'complete': testData.isRunnableTest, 'rejected': !testData.isRunnableTest}")
    .panel-heading.text-lg
      | {{testData.testType}} Test
    .hbox.text-center
      .col(ng-show="testData")
        highchart(config="chartConfig", style="width: 100px;height: 100px;top: -15px;background: transparent;position: relative;")
        //- div(style="height: 98px") Not implemented yet !
      .col
        .text-3x.text-success
          | {{testData.percentagePassed}}%
        .text-md.m-b-md
          | Test passed
    .hbox.text-center
      .col
        progressbar.progress-md.m-l-sm.m-r-sm(value="testData.percentagePassed")
          span.progressbar-percentage.font-bold(ng-class="{'text-success': testData.percentagePassed >= 50, 'text-danger': testData.percentagePassed < 50}")
            | {{testData.percentagePassed}}%
          span.progressbar-description
            | code covered