/*
  Common styles
*/

//colors
$color_bright_gray: #3a3f51;
$color_gull_gray: #9ea4b9;
$color_trout: #474c5e;
$color_scarpa_flow: #54596a;
$color_tuna: #2e3344;
$color_steel_gray: #232735;
$color_heather: #bbc0cf;
$white: #fff;
$color_cadet_blue: #adb2c4;
$color_regent_gray: #8088a4;
$color_mystic: #e8e9ef;
$color_ebony_clay: #1c2b36;
$color_ship_cove: #6b94b3;
$color_outer_space: #263845;
$color_pickled_bluewood: #314554;
$color_mirage: #131e26;
$color_bunker: #0a1015;
$color_nepal: #8dadc4;
$color_bali_hai: #7ca1bb;
$color_firefly: #16232d;
$color_wedgewood: #507b9b;
$color_periwinkle_gray: #bfd1de;
$color_blue_marguerite: #7266ba;
$color_whisper: #f4f3f9;
$color_wild_blue_yonder: #847abf;
$color_blue_bell: #958dc6;
$color_blue_violet: #6051b5;
$color_gigas: #5244a9;
$concrete: #f2f2f2;
$color_moon_raker: #d3cfea;
$color_malachite: #27c24c;
$color_edgewater: #c2f3ce;
$color_emerald: #48d46a;
$color_sea_green: #20af42;
$color_forest_green: #1a9c39;
$color_narvik: #edfbf0;
$color_granny_apple: #d7f7df;
$color_algae_green: #98eaab;
$color_scooter: #23b7e5;
$color_mabel: #d9f3fb;
$color_picton_blue: #3dbde5;
$color_viking: #55c3e6;
$color_cerulean: #16aad8;
$color_pacific_blue: #1199c4;
$color_blizzard_blue: #ace4f5;
$color_curious_blue: #19a9d5;
$color_bright_sun: #fad733;
$color_romance: #fffefa;
$color_mustard: #f8da4e;
$color_goldenrod: #f7de69;
$color_candlelight: #fcd417;
$color_supernova: #face00;
$color_ripe_lemon: #fcd621;
$color_beeswax: #fef4c8;
$color_sunset_orange: #f05050;
$color_sunglo: #f06a6a;
$color_froly: #f18282;
$color_red_orange: #f13636;
$color_torch_red: #f21b1b;
$color_coral_red: #f13f3f;
$color_mercury: #e6e6e6;
$color_cinnabar: #ee3939;
$color_shuttle_gray: #58666e;
$color_cape_cod: #363f44;
$color_shark: #1f2427;
$color_santas_gray: #99a6ad;
$color_moody_blue: #8278c2;
$color_butterfly_bush: #564aa3;
$color_eastern_blue: #1797be;
$color_portica: #fbe165;
$color_carnation: #f26767;
$color_alizarin_crimson: #ec2121;
$color_river_bed: #454b60;

.no-bg {
  background-color: transparent;
}
.bg-dark {
  background-color: $color_bright_gray;
  color: $color_gull_gray;
  &.lt {
    background-color: $color_trout;
  }
  .lt {
    background-color: $color_trout;
  }
  &.lter {
    background-color: $color_scarpa_flow;
  }
  .lter {
    background-color: $color_scarpa_flow;
  }
  &.dk {
    background-color: $color_tuna;
  }
  .dk {
    background-color: $color_tuna;
  }
  &.dker {
    background-color: $color_steel_gray;
  }
  .dker {
    background-color: $color_steel_gray;
  }
  &.bg {
    background-color: $color_bright_gray;
  }
  .bg {
    background-color: $color_bright_gray;
  }
  a {
    color: $color_heather;
    &:hover {
      color: $white;
    }
    &.list-group-item {
      &:hover {
        background-color: inherit;
      }
      &:focus {
        background-color: inherit;
      }
    }
  }
  .nav {
    > li {
      &:hover > a {
        color: $white;
        background-color: $color_tuna;
      }
      &:focus > a {
        color: $white;
        background-color: $color_tuna;
      }
      &.active > a {
        color: $white;
        background-color: $color_tuna;
      }
      > a {
        color: $color_cadet_blue;
        &:hover {
          background-color: $color_tuna;
        }
        &:focus {
          background-color: $color_tuna;
        }
      }
    }
    .open > a {
      background-color: $color_tuna;
    }
  }
  .caret {
    border-top-color: $color_gull_gray;
    border-bottom-color: $color_gull_gray;
  }
  .text-muted {
    color: $color_regent_gray !important;
  }
  .text-lt {
    color: $color_mystic !important;
  }
  &.navbar .nav > li.active > a {
    color: $white;
    background-color: $color_tuna;
  }
  .open > a {
    color: $white;
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &.auto .list-group-item {
    border-color: $color_tuna !important;
    background-color: transparent;
    &:hover {
      background-color: $color_tuna !important;
    }
    &:focus {
      background-color: $color_tuna !important;
    }
    &:active {
      background-color: $color_tuna !important;
    }
    &.active {
      background-color: $color_tuna !important;
    }
  }
  .auto .list-group-item {
    border-color: $color_tuna !important;
    background-color: transparent;
    &:hover {
      background-color: $color_tuna !important;
    }
    &:focus {
      background-color: $color_tuna !important;
    }
    &:active {
      background-color: $color_tuna !important;
    }
    &.active {
      background-color: $color_tuna !important;
    }
  }
}
.bg-black {
  background-color: $color_ebony_clay;
  color: $color_ship_cove;
  &.lt {
    background-color: $color_outer_space;
  }
  .lt {
    background-color: $color_outer_space;
  }
  &.lter {
    background-color: $color_pickled_bluewood;
  }
  .lter {
    background-color: $color_pickled_bluewood;
  }
  &.dk {
    background-color: $color_mirage;
  }
  .dk {
    background-color: $color_mirage;
  }
  &.dker {
    background-color: $color_bunker;
  }
  .dker {
    background-color: $color_bunker;
  }
  &.bg {
    background-color: $color_ebony_clay;
  }
  .bg {
    background-color: $color_ebony_clay;
  }
  a {
    color: $color_nepal;
    &:hover {
      color: $white;
    }
    &.list-group-item {
      &:hover {
        background-color: inherit;
      }
      &:focus {
        background-color: inherit;
      }
    }
  }
  .nav {
    > li {
      &:hover > a {
        color: $white;
        background-color: $color_mirage;
      }
      &:focus > a {
        color: $white;
        background-color: $color_mirage;
      }
      &.active > a {
        color: $white;
        background-color: $color_mirage;
      }
      > a {
        color: $color_bali_hai;
        &:hover {
          background-color: $color_firefly;
        }
        &:focus {
          background-color: $color_firefly;
        }
      }
    }
    .open > a {
      background-color: $color_mirage;
    }
  }
  .caret {
    border-top-color: $color_ship_cove;
    border-bottom-color: $color_ship_cove;
  }
  .text-muted {
    color: $color_wedgewood !important;
  }
  .text-lt {
    color: $color_periwinkle_gray !important;
  }
  &.navbar .nav > li.active > a {
    color: $white;
    background-color: $color_mirage;
  }
  .open > a {
    color: $white;
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &.auto .list-group-item {
    border-color: $color_mirage !important;
    background-color: transparent;
    &:hover {
      background-color: $color_mirage !important;
    }
    &:focus {
      background-color: $color_mirage !important;
    }
    &:active {
      background-color: $color_mirage !important;
    }
    &.active {
      background-color: $color_mirage !important;
    }
  }
  .auto .list-group-item {
    border-color: $color_mirage !important;
    background-color: transparent;
    &:hover {
      background-color: $color_mirage !important;
    }
    &:focus {
      background-color: $color_mirage !important;
    }
    &:active {
      background-color: $color_mirage !important;
    }
    &.active {
      background-color: $color_mirage !important;
    }
  }
}
.bg-primary {
  background-color: $color_blue_marguerite;
  color: $color_whisper;
  &.lt {
    background-color: $color_wild_blue_yonder;
  }
  .lt {
    background-color: $color_wild_blue_yonder;
  }
  &.lter {
    background-color: $color_blue_bell;
  }
  .lter {
    background-color: $color_blue_bell;
  }
  &.dk {
    background-color: $color_blue_violet;
  }
  .dk {
    background-color: $color_blue_violet;
  }
  &.dker {
    background-color: $color_gigas;
  }
  .dker {
    background-color: $color_gigas;
  }
  &.bg {
    background-color: $color_blue_marguerite;
  }
  .bg {
    background-color: $color_blue_marguerite;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
    &.list-group-item {
      &:hover {
        background-color: inherit;
      }
      &:focus {
        background-color: inherit;
      }
    }
  }
  .nav {
    > li {
      &:hover > a {
        color: $white;
        background-color: $color_blue_violet;
      }
      &:focus > a {
        color: $white;
        background-color: $color_blue_violet;
      }
      &.active > a {
        color: $white;
        background-color: $color_blue_violet;
      }
      > a {
        color: $concrete;
        &:hover {
          background-color: $color_blue_violet;
        }
        &:focus {
          background-color: $color_blue_violet;
        }
      }
    }
    .open > a {
      background-color: $color_blue_violet;
    }
  }
  .caret {
    border-top-color: $color_whisper;
    border-bottom-color: $color_whisper;
  }
  .text-muted {
    color: $color_moon_raker !important;
  }
  .text-lt {
    color: $white !important;
  }
  &.navbar .nav > li.active > a {
    color: $white;
    background-color: $color_blue_violet;
  }
  .open > a {
    color: $white;
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &.auto .list-group-item {
    border-color: $color_blue_violet !important;
    background-color: transparent;
    &:hover {
      background-color: $color_blue_violet !important;
    }
    &:focus {
      background-color: $color_blue_violet !important;
    }
    &:active {
      background-color: $color_blue_violet !important;
    }
    &.active {
      background-color: $color_blue_violet !important;
    }
  }
  .auto .list-group-item {
    border-color: $color_blue_violet !important;
    background-color: transparent;
    &:hover {
      background-color: $color_blue_violet !important;
    }
    &:focus {
      background-color: $color_blue_violet !important;
    }
    &:active {
      background-color: $color_blue_violet !important;
    }
    &.active {
      background-color: $color_blue_violet !important;
    }
  }
}
.bg-success {
  background-color: $color_malachite;
  color: $color_edgewater;
  &.lt {
    background-color: $color_malachite;
  }
  .lt {
    background-color: $color_malachite;
  }
  &.lter {
    background-color: $color_emerald;
  }
  .lter {
    background-color: $color_emerald;
  }
  &.dk {
    background-color: $color_sea_green;
  }
  .dk {
    background-color: $color_sea_green;
  }
  &.dker {
    background-color: $color_forest_green;
  }
  .dker {
    background-color: $color_forest_green;
  }
  &.bg {
    background-color: $color_malachite;
  }
  .bg {
    background-color: $color_malachite;
  }
  a {
    color: $color_narvik;
    &:hover {
      color: $white;
    }
    &.list-group-item {
      &:hover {
        background-color: inherit;
      }
      &:focus {
        background-color: inherit;
      }
    }
  }
  .nav {
    > li {
      &:hover > a {
        color: $white;
        background-color: $color_sea_green;
      }
      &:focus > a {
        color: $white;
        background-color: $color_sea_green;
      }
      &.active > a {
        color: $white;
        background-color: $color_sea_green;
      }
      > a {
        color: $color_granny_apple;
        &:hover {
          background-color: $color_malachite;
        }
        &:focus {
          background-color: $color_malachite;
        }
      }
    }
    .open > a {
      background-color: $color_sea_green;
    }
  }
  .caret {
    border-top-color: $color_edgewater;
    border-bottom-color: $color_edgewater;
  }
  .text-muted {
    color: $color_algae_green !important;
  }
  .text-lt {
    color: $white !important;
  }
  &.navbar .nav > li.active > a {
    color: $white;
    background-color: $color_sea_green;
  }
  .open > a {
    color: $white;
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &.auto .list-group-item {
    border-color: $color_sea_green !important;
    background-color: transparent;
    &:hover {
      background-color: $color_sea_green !important;
    }
    &:focus {
      background-color: $color_sea_green !important;
    }
    &:active {
      background-color: $color_sea_green !important;
    }
    &.active {
      background-color: $color_sea_green !important;
    }
  }
  .auto .list-group-item {
    border-color: $color_sea_green !important;
    background-color: transparent;
    &:hover {
      background-color: $color_sea_green !important;
    }
    &:focus {
      background-color: $color_sea_green !important;
    }
    &:active {
      background-color: $color_sea_green !important;
    }
    &.active {
      background-color: $color_sea_green !important;
    }
  }
}
.bg-info {
  background-color: $color_scooter;
  color: $color_mabel;
  &.lt {
    background-color: $color_picton_blue;
  }
  .lt {
    background-color: $color_picton_blue;
  }
  &.lter {
    background-color: $color_viking;
  }
  .lter {
    background-color: $color_viking;
  }
  &.dk {
    background-color: $color_cerulean;
  }
  .dk {
    background-color: $color_cerulean;
  }
  &.dker {
    background-color: $color_pacific_blue;
  }
  .dker {
    background-color: $color_pacific_blue;
  }
  &.bg {
    background-color: $color_scooter;
  }
  .bg {
    background-color: $color_scooter;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
    &.list-group-item {
      &:hover {
        background-color: inherit;
      }
      &:focus {
        background-color: inherit;
      }
    }
  }
  .nav {
    > li {
      &:hover > a {
        color: $white;
        background-color: $color_cerulean;
      }
      &:focus > a {
        color: $white;
        background-color: $color_cerulean;
      }
      &.active > a {
        color: $white;
        background-color: $color_cerulean;
      }
      > a {
        color: $concrete;
        &:hover {
          background-color: $color_cerulean;
        }
        &:focus {
          background-color: $color_cerulean;
        }
      }
    }
    .open > a {
      background-color: $color_cerulean;
    }
  }
  .caret {
    border-top-color: $color_mabel;
    border-bottom-color: $color_mabel;
  }
  .text-muted {
    color: $color_blizzard_blue !important;
  }
  .text-lt {
    color: $white !important;
  }
  &.navbar .nav > li.active > a {
    color: $white;
    background-color: $color_cerulean;
  }
  .open > a {
    color: $white;
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &.auto .list-group-item {
    border-color: $color_curious_blue !important;
    background-color: transparent;
    &:hover {
      background-color: $color_cerulean !important;
    }
    &:focus {
      background-color: $color_cerulean !important;
    }
    &:active {
      background-color: $color_cerulean !important;
    }
    &.active {
      background-color: $color_cerulean !important;
    }
  }
  .auto .list-group-item {
    border-color: $color_curious_blue !important;
    background-color: transparent;
    &:hover {
      background-color: $color_cerulean !important;
    }
    &:focus {
      background-color: $color_cerulean !important;
    }
    &:active {
      background-color: $color_cerulean !important;
    }
    &.active {
      background-color: $color_cerulean !important;
    }
  }
}
.bg-warning {
  background-color: $color_bright_sun;
  color: $color_romance;
  &.lt {
    background-color: $color_mustard;
  }
  .lt {
    background-color: $color_mustard;
  }
  &.lter {
    background-color: $color_goldenrod;
  }
  .lter {
    background-color: $color_goldenrod;
  }
  &.dk {
    background-color: $color_candlelight;
  }
  .dk {
    background-color: $color_candlelight;
  }
  &.dker {
    background-color: $color_supernova;
  }
  .dker {
    background-color: $color_supernova;
  }
  &.bg {
    background-color: $color_bright_sun;
  }
  .bg {
    background-color: $color_bright_sun;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
    &.list-group-item {
      &:hover {
        background-color: inherit;
      }
      &:focus {
        background-color: inherit;
      }
    }
  }
  .nav {
    > li {
      &:hover > a {
        color: $white;
        background-color: $color_candlelight;
      }
      &:focus > a {
        color: $white;
        background-color: $color_candlelight;
      }
      &.active > a {
        color: $white;
        background-color: $color_candlelight;
      }
      > a {
        color: $concrete;
        &:hover {
          background-color: $color_ripe_lemon;
        }
        &:focus {
          background-color: $color_ripe_lemon;
        }
      }
    }
    .open > a {
      background-color: $color_candlelight;
    }
  }
  .caret {
    border-top-color: $color_romance;
    border-bottom-color: $color_romance;
  }
  .text-muted {
    color: $color_beeswax !important;
  }
  .text-lt {
    color: $white !important;
  }
  &.navbar .nav > li.active > a {
    color: $white;
    background-color: $color_candlelight;
  }
  .open > a {
    color: $white;
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &.auto .list-group-item {
    border-color: $color_ripe_lemon !important;
    background-color: transparent;
    &:hover {
      background-color: $color_candlelight !important;
    }
    &:focus {
      background-color: $color_candlelight !important;
    }
    &:active {
      background-color: $color_candlelight !important;
    }
    &.active {
      background-color: $color_candlelight !important;
    }
  }
  .auto .list-group-item {
    border-color: $color_ripe_lemon !important;
    background-color: transparent;
    &:hover {
      background-color: $color_candlelight !important;
    }
    &:focus {
      background-color: $color_candlelight !important;
    }
    &:active {
      background-color: $color_candlelight !important;
    }
    &.active {
      background-color: $color_candlelight !important;
    }
  }
}
.bg-danger {
  background-color: $color_sunset_orange;
  color: $white;
  &.lt {
    background-color: $color_sunglo;
  }
  .lt {
    background-color: $color_sunglo;
  }
  &.lter {
    background-color: $color_froly;
  }
  .lter {
    background-color: $color_froly;
  }
  &.dk {
    background-color: $color_red_orange;
  }
  .dk {
    background-color: $color_red_orange;
  }
  &.dker {
    background-color: $color_torch_red;
  }
  .dker {
    background-color: $color_torch_red;
  }
  &.bg {
    background-color: $color_sunset_orange;
  }
  .bg {
    background-color: $color_sunset_orange;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
    &.list-group-item {
      &:hover {
        background-color: inherit;
      }
      &:focus {
        background-color: inherit;
      }
    }
  }
  .nav {
    > li {
      &:hover > a {
        color: $white;
        background-color: $color_red_orange;
      }
      &:focus > a {
        color: $white;
        background-color: $color_red_orange;
      }
      &.active > a {
        color: $white;
        background-color: $color_red_orange;
      }
      > a {
        color: $concrete;
        &:hover {
          background-color: $color_coral_red;
        }
        &:focus {
          background-color: $color_coral_red;
        }
      }
    }
    .open > a {
      background-color: $color_red_orange;
    }
  }
  .caret {
    border-top-color: $white;
    border-bottom-color: $white;
  }
  .text-muted {
    color: $color_mercury !important;
  }
  .text-lt {
    color: $white !important;
  }
  &.navbar .nav > li.active > a {
    color: $white;
    background-color: $color_red_orange;
  }
  .open > a {
    color: $white;
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  &.auto .list-group-item {
    border-color: $color_cinnabar !important;
    background-color: transparent;
    &:hover {
      background-color: $color_red_orange !important;
    }
    &:focus {
      background-color: $color_red_orange !important;
    }
    &:active {
      background-color: $color_red_orange !important;
    }
    &.active {
      background-color: $color_red_orange !important;
    }
  }
  .auto .list-group-item {
    border-color: $color_cinnabar !important;
    background-color: transparent;
    &:hover {
      background-color: $color_red_orange !important;
    }
    &:focus {
      background-color: $color_red_orange !important;
    }
    &:active {
      background-color: $color_red_orange !important;
    }
    &.active {
      background-color: $color_red_orange !important;
    }
  }
}
.bg-white {
  background-color: $white;
  color: $color_shuttle_gray;
  a {
    color: $color_cape_cod;
    &:hover {
      color: $color_shark;
    }
  }
  .text-muted {
    color: $color_santas_gray !important;
  }
  .lt {
    background-color: $white;
  }
  .lter {
    background-color: $white;
  }
  .dk {
    background-color: $white;
  }
  .dker {
    background-color: $white;
  }
}
.bg-white-only {
  background-color: $white;
}
a {
  &.bg-light:hover {
    color: $color_cape_cod;
  }
  &.bg-primary:hover {
    background-color: $color_blue_violet;
  }
  &.text-primary:hover {
    color: $color_blue_violet;
  }
  &.bg-info:hover {
    background-color: $color_curious_blue;
  }
  &.text-info:hover {
    color: $color_curious_blue;
  }
  &.bg-success:hover {
    background-color: $color_sea_green;
  }
  &.text-success:hover {
    color: $color_sea_green;
  }
  &.bg-warning:hover {
    background-color: $color_ripe_lemon;
  }
  &.text-warning:hover {
    color: $color_ripe_lemon;
  }
  &.bg-danger:hover {
    background-color: $color_cinnabar;
  }
  &.text-danger:hover {
    color: $color_cinnabar;
  }
  &.bg-dark:hover {
    background-color: $color_tuna;
  }
  &.text-dark:hover {
    color: $color_tuna;
  }
  &.bg-black:hover {
    background-color: $color_mirage;
  }
  &.text-black:hover {
    color: $color_mirage;
  }
}
.text-primary {
  color: $color_blue_marguerite;
}
.text-primary-lt {
  color: $color_moody_blue;
}
.text-primary-lter {
  color: $color_blue_bell;
}
.text-primary-dk {
  color: $color_blue_violet;
}
.text-primary-dker {
  color: $color_butterfly_bush;
}
.text-info {
  color: $color_scooter;
}
.text-info-lt {
  color: $color_picton_blue;
}
.text-info-lter {
  color: $color_picton_blue;
}
.text-info-dk {
  color: $color_curious_blue;
}
.text-info-dker {
  color: $color_eastern_blue;
}
.text-success {
  color: $color_malachite;
}
.text-success-lt {
  color: $color_malachite;
}
.text-success-lter {
  color: $color_emerald;
}
.text-success-dk {
  color: $color_sea_green;
}
.text-success-dker {
  color: $color_forest_green;
}
.text-warning {
  color: $color_bright_sun;
}
.text-warning-lt {
  color: $color_mustard;
}
.text-warning-lter {
  color: $color_portica;
}
.text-warning-dk {
  color: $color_ripe_lemon;
}
.text-warning-dker {
  color: $color_supernova;
}
.text-danger {
  color: $color_sunset_orange;
}
.text-danger-lt {
  color: $color_carnation;
}
.text-danger-lter {
  color: $color_froly;
}
.text-danger-dk {
  color: $color_cinnabar;
}
.text-danger-dker {
  color: $color_alizarin_crimson;
}
.text-dark {
  color: $color_bright_gray;
}
.text-dark-lt {
  color: $color_river_bed;
}
.text-dark-lter {
  color: $color_scarpa_flow;
}
.text-dark-dk {
  color: $color_tuna;
}
.text-dark-dker {
  color: $color_steel_gray;
}
.text-black {
  color: $color_ebony_clay;
}
.text-black-lt {
  color: $color_outer_space;
}
.text-black-lter {
  color: $color_pickled_bluewood;
}
.text-black-dk {
  color: $color_mirage;
}
.text-black-dker {
  color: $color_bunker;
}
.text-white {
  color: $white;
}
.text-muted {
  color: $color_santas_gray;
}
.pos-rlt {
  position: relative;
}
.pos-stc {
  position: static;
}
.pos-abt {
  position: absolute;
}
.pos-fix {
  position: fixed;
}


.font-normal {
  font-weight: normal;
}
.font-thin {
  font-weight: 300;
}
.font-bold {
  font-weight: 700;
}
.text-3x {
  font-size: 3em;
}
.text-2x {
  font-size: 2em;
}
.text-lg {
  font-size: 18px;
}
.text-md {
  font-size: 16px;
}
.text-base {
  font-size: 14px;
}
.text-sm {
  font-size: 13px;
}
.text-xs {
  font-size: 12px;
}
.text-xxs {
  text-indent: -9999px;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-u-c {
  text-transform: uppercase;
}
.text-l-t {
  text-decoration: line-through;
}
.text-u-l {
  text-decoration: underline;
}

.bg-light {
  background-color: #edf1f2;
  color: #58666e;

  &.lt, .lt {
    background-color: #f3f5f6;
  }

  &.lter, .lter {
    background-color: #f6f8f8;
  }

  &.dk, .dk {
    background-color: #e4eaec;
  }
  &.dker, .dker {
    background-color: #dde6e9;
  }
  &.bg, .bg {
    background-color: #edf1f2;
  }
}
.wrapper-sm {
  padding: 10px;
}
.wrapper {
  padding: 15px;
}
.wrapper-md {
  padding: 20px;
}
.wrapper-lg {
  padding: 30px;
}
.wrapper-xl {
  padding: 50px;
}
.padder-lg {
  padding-left: 30px;
  padding-right: 30px;
}
.padder-md {
  padding-left: 20px;
  padding-right: 20px;
}
.padder {
  padding-left: 15px;
  padding-right: 15px;
}
.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.no-padder {
  padding: 0 !important;
}
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}
.pull-out {
  margin: -10px -15px;
}
.no-b{
  border: 0px;
  box-shadow: none;
}
.b {
  border: 1px solid rgba(0,0,0,0.05);
}
.b-a {
  border: 1px solid #dee5e7;
}
.b-t {
  border-top: 1px solid #dee5e7;
}
.b-r {
  border-right: 1px solid #dee5e7;
}
.b-b {
  border-bottom: 1px solid #dee5e7;
}
.b-l {
  border-left: 1px solid #dee5e7;
}
.b-light {
  border-color: #edf1f2;
}
.b-dark {
  border-color: #3a3f51;
}
.b-black {
  border-color: #3a3f51;
}
.b-primary {
  border-color: #7266ba;
}
.b-success {
  border-color: #27c24c;
}
.b-info {
  border-color: #23b7e5;
}
.b-warning {
  border-color: #fad733;
}
.b-danger {
  border-color: #f05050;
}
.b-white {
  border-color: #fff;
}
.b-dashed {
  border-style: dashed !important;
}
.b-l-light {
  border-left-color: #edf1f2;
}
.b-l-dark {
  border-left-color: #3a3f51;
}
.b-l-black {
  border-left-color: #3a3f51;
}
.b-l-primary {
  border-left-color: #7266ba;
}
.b-l-success {
  border-left-color: #27c24c;
}
.b-l-info {
  border-left-color: #23b7e5;
}
.b-l-warning {
  border-left-color: #fad733;
}
.b-l-danger {
  border-left-color: #f05050;
}
.b-l-white {
  border-left-color: #fff;
}
.b-l-2x {
  border-left-width: 2px;
}
.b-l-3x {
  border-left-width: 3px;
}
.b-l-4x {
  border-left-width: 4px;
}
.b-l-5x {
  border-left-width: 5px;
}
.b-2x {
  border-width: 2px;
}
.b-3x {
  border-width: 3px;
}
.b-4x {
  border-width: 4px;
}
.b-5x {
  border-width: 5px;
}
.no-b-r{
  border-radius: 0px;
}
.r {
  border-radius: 2px 2px 2px 2px;
}
.r-2x {
  border-radius: 4px;
}
.r-3x {
  border-radius: 6px;
}
.r-l {
  border-radius: 2px 0 0 2px;
}
.r-r {
  border-radius: 0 2px 2px 0;
}
.r-t {
  border-radius: 2px 2px 0 0;
}
.r-b {
  border-radius: 0 0 2px 2px;
}
.n-r-b{
  border-radius: 0;
  -webkit-appearance: none;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-xxl {
  margin-left: 50px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-l-n-xxl {
  margin-left: -50px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-xxl {
  margin-top: 50px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-t-n-xxl {
  margin-top: -50px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-xxl {
  margin-right: 50px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-r-n-xxl {
  margin-right: -50px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-xxl {
  margin-bottom: 50px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.m-b-n-xxl {
  margin-bottom: -50px;
}
.wd-200{
  width: 200px;
}
.he-180{
  height: 180px;
}
.hbox {
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
  height: 100%;

  .col {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float: none;
  }
}
.d-b{
  display: block;
}
.d-i-b{
  display: inline-block;
}

