/*
    Application Font-face declares
*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('roboto-regular'), url('../fonts/roboto/roboto-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'), local('roboto-medium'), url('../fonts/roboto/roboto-medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('roboto-bold'), url('../fonts/roboto/roboto-bold.woff') format('woff');
}


@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed'), local('roboto-condensed-light'), url('../fonts/roboto/roboto-condensed-light.woff') format('woff');
}


@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('roboto-condensed'), url('../fonts/roboto/roboto-condensed.woff') format('woff');
}