$color_athens_gray: #edf1f2;
$color_black_haze: #f6f8f8;
$white: #fff;
$color_mercury: #dee5e7;
$color_gallery: #eaedef;

.panel {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  .accordion-toggle {
    font-size: 14px;
    display: block;
    cursor: pointer;
  }
  .list-group-item {
    border-color: $color_athens_gray;
  }
  &.no-borders {
    border-width: 0;
    .panel-heading {
      border-width: 0;
    }
    .panel-footer {
      border-width: 0;
    }
  }
}
.panel-heading {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px 2px 0 0;
  &.no-border {
    margin: -1px -1px 0 -1px;
    border: none;
  }
  .nav {
    margin: -10px -15px;
  }
  .list-group {
    background: transparent;
  }
}
.panel-default {
  border-color: $color_mercury;
  .panel-heading {
    background-color: $color_black_haze;
  }
  > {
    .panel-heading {
      border-color: $color_athens_gray;
    }
    .panel-footer {
      border-color: $color_athens_gray;
    }
  }
}
.panel-footer {
  border-color: $color_athens_gray;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0 0 2px 2px;
  background-color: $white;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid $color_gallery;
}