/*
  General stype for table
*/
$color_athens_gray: #eaeff0;
$color_alabaster: #fafbfc;

.table-bordered {
  border-color: $color_athens_gray;
  > {
    tbody > tr > td {
      border-color: $color_athens_gray;
    }
    thead > tr > th {
      border-color: $color_athens_gray;
    }
  }
}
.table > {
  tbody > tr > td {
    padding: 8px 15px;
    border-top: 1px solid $color_athens_gray;
  }
  tfoot > tr > td {
    padding: 8px 15px;
    border-top: 1px solid $color_athens_gray;
  }
  thead > tr > th {
    padding: 8px 15px;
    border-bottom: 1px solid $color_athens_gray;
  }
}
.table-striped > {
  tbody > tr:nth-child(odd) > {
    td {
      background-color: $color_alabaster;
    }
    th {
      background-color: $color_alabaster;
    }
  }
  thead > th {
    background-color: $color_alabaster;
    border-right: 1px solid $color_athens_gray;
    &:last-child {
      border-right: none;
    }
  }
}