div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Login
      p
        | Accounts are reset on server restart from
        code server/config/seed.js
        | . Default account is
        code test@test.com
        | /
        code test
      p
        | Admin account is
        code admin@admin.com
        | /
        code admin

    .col-sm-12
      form.form(name='form', ng-submit='login(form)', novalidate='')
        .form-group
          label Email
          input.form-control(type='text', name='email', ng-model='user.email')
        .form-group
          label Password
          input.form-control(type='password', name='password', ng-model='user.password')

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
            | Please enter your email and password.
          p.help-block {{ errors.other }}

        div
          button.btn.btn-info.no-b-r.btn-login(type='submit')
            | Login
          = ' '
         
  hr
