$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import '../styles/common';
@import '../styles/font';
@import '../styles/table';
@import '../styles/panel';

body{
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif !important;
}
html, body {
  width: 100%;
  height: 100%;
}
.app {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: #f0f3f4;
}
.app-content{
  background-color: #f0f3f4;
}
.app-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
}
/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/*
  Navigation bar
*/
$navigation-bar-height: 80px;
.navbar {
  min-height: $navigation-bar-height;

  /*
    logo
  */
  .navbar-brand{
    height: $navigation-bar-height;

    .logo{
      background-image: url(/assets/images/crossover-logo-white.png);
      background-size: cover;
      width: 180px;
      height: 49px;
    }
  }

  /*
    navigation bar items
  */
  .navbar-nav{
    font-size: 18px;

    li{
      a{
        color: white;
        padding: 30px 15px;
      }
      p{
        color: white;
        padding: 13px;
      }

      &.active{
        a{
          color: #02a8f3;
          background-color: #222222;
        }
      }
    }
  }
}

.setting-btn{
  position: absolute;
  right: 20px;
  top: 105px;
  z-index: auto;
}

/*
  Page content header
*/


/*
  Page content
*/


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'modal/modal.scss';
// endinjector